

<h1>Welcome to <%=@store.name%></h1>

<%= form_tag users_path, :id => "new_customer" do %>
  <%= label_tag(:name, "Customer Name:") %>
  <%= text_field_tag(:name) %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag("New Customer") %>
<% end %>
